/* * {
  border: 1px solid red;
} */


body {
  font-family: 'Rubik', sans-serif;
}

header {
  background-color: #6F1E51; 
  color: white; padding: 2rem;
}

footer {
  background-color: #000; 
  color: white; padding: 2rem;
}

