{% extends 'layout.html.twig' %}

{% block title %}
	{{ parent() }}- Home
{% endblock %}

{% block content %}

	<main>

		<!--MAIN-->

		<div class="container">

			<div class="row">

				<!--CADRE MES CHALLENGES ****************************************************** -->
				<div class="col-4 text-center justify-content-center">
					<div class="cadreChallenge ">
						<h3>Mes Challenges</h3>
						<div class="cadreChallenge2">
							<p>Pas de Challenge en cours...</p><br>
							<a href="" class="">Inscrivez-vous pour participer aux challenges !</a>
						</div>
					</div>
				</div>

				<!--CADRE MES CHALLENGES-->




				<!--MOYEN DE TRANSPORTS ****************************************************** -->
				<div class="col-4">

					<div class="row justify-content-center">
						<img class="ombretrottinette" src="{{ asset('images/ombretrottinette.png') }}">
					  <p class="selection">Sélectionnez votre moyen de transport :</p>
				  </div>

				  <div class="row justify-content-center">

            <div class="btnTransport">
              <button type="button" class="btn text-light">Vélo</button>
            </div>
            <div class="btnTransport">
              <button type="button" class="btn text-light">Trottinette</button>
            </div>
            <div class="btnTransport">
              <button type="button" class="btn text-light">A Pieds</button>
            </div>

            <!-- FIN MOYEN DE TRANSPORTS-->

          </div>


            <!--INPUT DEPART ARRIVEE-->
          <div class="row justify-content-center">

            <form>
              <div class="form-group">
                <label for="start">Départ</label>
                <input type="text" class="form-control" id="start" placeholder="Adresse de départ" name="start">
              </div>

              <div class="form-group">
                <label for="stop">Arrivée</label>
                <input type="text" class="form-control" id="stop" placeholder="Adresse d'arrivée" name="stop">
              </div>

              <div class="row justify-content-center">
                <button type="button" class="btn btn-warning text-light mb-4" id="search" name="search">Allons-y !</button>
              </div>

            </form>

          </div>

        <!--FIN INPUT DEPART ARRIVEE-->
          
        <!--METEO-->
        </div>


      <!--METEO ****************************************************** -->
        <div class="col-4">
          <div class="meteo">

            <div class="row">

              <div class="col-6 p-3 mb-2 text-white">
                <p>Paris 10°<br>Aujourd'hui 10°/8°</p>
              </div>

              <div class="col-6">
                <div>
                  <img src="{{ asset('images/MeteoVent.png') }}">
                </div>
              </div>

            </div>

          </div>
          
        </div>

    </div> <!-- fin de row -->

  </div> <!-- fin du container -->

		

		<!--MAP-->
    <div class="container-fluid">
			<div id="carte" class="map">
        
      </div>
		</div>

	</main>
{% endblock %}
