{% extends 'layout.html.twig' %}

{% block title %}
	{{ parent() }}- Home
{% endblock %}

{% block content %}

	<div class="container">
		<div class="row">
			<div class="col">
				<h2>Homepage</h2>

        {# <a href="{{ path('security_login') }}">Connexion</a>
        <a href="{{ path('security_logout') }}">Déconnexion</a> #}

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga magni beatae aut non, quae libero illum voluptate dolores veniam quidem? Itaque nobis delectus expedita tempora et saepe fuga voluptas sunt.</p>

			</div>
		</div>
	</div>


{% endblock %}
